# Byte-compiled / optimized / DLL files
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
celerybeat.pid
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
install/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
images/
images/*
### Django ###
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
staticfiles/
3.5/

.idea/
static/
test.py
*/__pycache__/*
__pycache__/
account/__pycache__/
account/django_admin/__pycache__/
account/migrations/__pycache__/
account/models/__pycache__/
account/views/__pycache__/
company/__pycache__/
company/django_admin/__pycache__/
company/migrations/__pycache__/
company/models/__pycache__/
coupon/__pycache__/
coupon/django_admin/__pycache__/
coupon/migrations/__pycache__/
coupon/models/__pycache__/
coupon/views/__pycache__/
promotion/__pycache__/
promotion/django_admin/__pycache__/
promotion/migrations/__pycache__/
promotion/models/__pycache__/
promotion/views/__pycache__/
rafflee/views/__pycache__/
rafflee/__pycache__/
tools/__pycache__/
